* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
}
/* NAV BAR */
header {
  display: flex;
}
header nav {
  font-size: 14px;
}
.nav-bar-right {
  flex: 1;
  color: rgba(0, 0, 0, 0.87);
  margin: 0px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-bar-right a {
  margin: 0px 8px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;
}
.nav-bar-left {
  flex: 1;
  margin: 8px 10px;
}
.nav-bar-left a {
  display: inline-block;
  text-decoration: none;
  padding: 5px;
  margin: 10px 5px;
  color: #222;
}
nav a:hover {
  text-decoration: underline;
}
.g-apps {
  margin-top: 0;
  padding-top: 0px;
  width: 24px;
  height: 24px;
  opacity: 0.6;
}

.nav-icon {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-height: 40px;
  max-width: 40px;
  padding: 4px;
}
.nav-icon:hover {
  background-color: rgba(60, 64, 67, 0.08);
}
.sign-in-button input {
  color: #fff;
  cursor: pointer;
  background: #1a73e8;
  outline: none;
  margin-left: 8px;
  border: 1px solid transparent;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 10px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.sign-in-button input:hover {
  background: #2b7de9;
  box-shadow: 0 1px 2px 0 rgb(66 133 244 / 30%),
    0 1px 3px 1px rgb(66 133 244 / 15%);
}
/* MAIN */
.main-section {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-box {
  position: relative;
}

#search-box {
  margin-top: 20px;
  display: inline-flex;
  width: 582px;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  padding: 15px 35px;
  text-indent: 10px;
  border-radius: 25px;
}
#search-box:hover {
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  border-color: rgba(223, 225, 229, 0);
}
.search-img {
  opacity: 0.4;
  position: absolute;
  top: 33px;
  left: 10px;
}
.mic-img {
  width: 20px;
  position: absolute;
  top: 33px;
  right: 10px;
}

button {
  text-align: center;
  cursor: pointer;
  margin-top: 35px;
  margin-right: 8px;
  padding: 12px 18px;
  background-color: #f8f9fa;
  border: 1px solid #fff;
}
button:hover {
  border: 1px solid #d1d1d1;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #f4f4f4;
}
/* FOOTER */

footer {
  padding: 16px 22px;
  background-color: #f4f4f4;
  width: 100%;
  position: fixed;
  bottom: 0;
  display: flex;
  font-size: 14px;
}
footer a {
  margin: 0px 12px;
  text-decoration: none;
  color: #70757a;
}
footer a:hover {
  text-decoration: underline;
}
.links-left {
  flex: 1;
}
.links-right {
  text-align: end;
  flex: 1;
}

/* ------------------------GOOGLE APPS DROP DOWN MENU------------------- */

.drop-menu-g-apps {
  display: none;
  top: 7%;
  position: absolute;
  background: #fff;
  box-shadow: 0px 1px 2px 0px rgb(60 64 67 / 30%),
    0px 2px 6px 2px rgb(60 64 67 / 15%);
  overflow-x: hidden;
  /* overflow-y: scroll; */
  transform: translateX(-5px);
  margin-top: 15px;
  height: 450px;
  width: 310px;
  z-index: 9999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}
.g-apps-content {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 84px;
  height: 84px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 8px;
}
.icon:hover {
  background-color: #e8f0fe;
  border: none;
  border-radius: 8px;
  /* margin: 0; */
  z-index: 1;
}
.icon a {
  /* margin: 9px; */
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  background-size: 64px 3100px;
  background-image: url("../images/g-apps-menu.png");
  background-repeat: no-repeat;
}
.icon-text {
  text-align: center;
  color: #202124;
  display: inline-block;
  font-family: "Google Sans", Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.09px;
  line-height: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 76px;
}
.icon-account a {
  background-position: 0 -1587px;
}
.icon-search a {
  background-position: 0 -1794px;
}
.icon-maps a {
  background-position: 0 -483px;
}
.icon-youtube a {
  background-position: 0 -2622px;
}
.icon-play a {
  background-position: 0 -207px;
}
.icon-news a {
  background-position: 0 -1311px;
}
.icon-gmail a {
  background-position: 0 -2001px;
}
.icon-meet a {
  background-position: 0 -690px;
}
.icon-chat a {
  background-position: 0 -1656px;
}
.icon-contacts a {
  background-position: 0 -2898px;
}
.icon-drive a {
  background-position: 0 -2967px;
}
.icon-calendar a {
  background-position: 0 -2553px;
}
.icon-translate a {
  background-position: 0 -1932px;
}
.icon-photos a {
  background-position: 0 -2829px;
}
.icon-duo a {
  background-position: 0 -2484px;
}
.icon-shopping a {
  background-position: 0 -69px;
}
.icon-finance a {
  background-position: 0 -345px;
}
.icon-docs a {
  background-position: 0 -1242px;
}

.icon-sheets a {
  background-position: 0 -2208px;
}
.icon-slides a {
  background-position: 0 -2277px;
}
.icon-books a {
  background-position: 0 -2760px;
}
.icon-blogger a {
  background-position: 0 -1863px;
}
.icon-hangouts a {
  background-position: 0 -2415px;
}
.icon-keep a {
  background-position: 0 -276px;
}
.icon-jamboard a {
  background-position: 0 -2070px;
}
/* .icon-classroom a {
  background-position: 0 -966px;
} */
.icon-earth a {
  background-position: 0 -1380px;
}
.icon-collections a {
  background-position: 0 -621px;
}
.icon-arts .icon-text:hover {
  white-space: normal;
  text-overflow: initial;
  word-wrap: break-word;
  /* height: 106px; */
}
.icon-arts a {
  background-position: 0 -1518px;
}
.icon-google-ads a {
  background-position: 0 -414px;
}
/* .icon-podcasts a {
  background-position: 0 -552px;
} */
.icon-podcasts a {
  background-position: 0 -552px;
}
.icon-travel a {
  background-position: 0 -3036px;
}
.icon-forms a {
  background-position: 0 -2139px;
}
.sixth-row {
  border-bottom: 1px solid #e8eaed;
  display: block;
  left: 0;
  padding-bottom: 10px;
  margin-bottom: 6px;
  margin-top: 6px;
  position: relative;
  width: 100vh;
}
#more-button input {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 4px;
  box-sizing: border-box;
  color: #1a73e8;
  display: inline-block;
  font: 500 14px/16px "Google Sans", Roboto, RobotoDraft, Helvetica, Arial,
    sans-serif;
  margin: 16px 0px 20px 60px;
  max-width: 265px;
  outline: 0;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  white-space: normal;
  width: auto;
  cursor: pointer;
}
#more-button input:hover {
  background-color: #f8fbff;
  border-color: #cce0fc;
}

/* SCROLLBAR */
.drop-menu-g-apps::-webkit-scrollbar {
  width: 16px;
}

.drop-menu-g-apps::-webkit-scrollbar-track {
  background: none;
  border: none;
}
.drop-menu-g-apps::-webkit-scrollbar-thumb {
  background: #dadce0;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}
/* for hiding elements */
.hidden {
  display: none;
}
